body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 250px;
    background: linear-gradient(-45deg, #ffffff8a, #0099ff);
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.342);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
}

#input-area {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    position: relative;
    left: 37%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#recommendations {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-cover {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-style: italic;
    color: #555;
    margin-bottom: 5px;
}

.book-genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.genre-tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
    font-size: 0.8em;
}

.no-results {
    text-align: center;
    color: #777;
}